<h1 style="color:darkred;font-size:60px;font-family:sans-serif;">The Link Cruncher</h1>
<form action="/login" method="POST">
    <label for="login">Login:</label>
    <input id="login" type="text" name="username" placeholder="username">
    <input type="submit" value="Submit">
</form>