<h1 style="color:green;font-size:60px;font-family:sans-serif;">The URL Cruncher</h1>
<% if (userinfo === undefined) {%>
  <a href="/login"><button>Login</button></a> <a href="/register"><button>Register</button></a>
<% } else { %>
  <form action="/logout" method="POST" style="font-family:sans-serif;">
    <label for="login">Logged in as: <%= userinfo.email %></label> <input type="submit" value="Logout">
  </form>
<% }%>