<h1 style="color:indigo;font-size:60px;font-family:sans-serif;letter-spacing:-5px">The URL Cruncher</h1>
<% if (userinfo === undefined) {%>
  <a href="/login"><button>Login</button></a> <a href="/register"><button>Register</button></a>
<% } else { %>
  <form method="POST" action="/logout?_method=DELETE" style="font-family:sans-serif;">
    <label for="login">Logged in as: <b><%= userinfo.email %></b></label> <input type="submit" value="Logout">
  </form>
<% }%>