<h1 style="color:darkred;font-size:60px;font-family:sans-serif;">The Link Cruncher</h1>
<% if (username == undefined) {%>
  <form action="/login" method="POST" style="font-family:sans-serif;">
    <label for="login">Login:</label>
    <input id="login" type="text" name="username" placeholder="username">
    <input type="submit" value="Submit">
  </form>
<% } else { %>
  <form action="/logout" method="POST" style="font-family:sans-serif;">
    <label for="login">Logged in as: <%= username %></label> <input type="submit" value="Logout">
  </form>
<% }%>