<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Link Cruncher</title>
</head>
<body>
  <h2>Login</h2>
  <h3>Login to your account.</h3>
  <form action="/login" method="POST" style="font-family:sans-serif;">
    <label for="login">Email:</label>
    <input id="login" type="email" name="email" placeholder="user@email.com">
    <br><br>
    <label for="login">Password:</label>
    <input id="login" type="password" name="password" placeholder="********">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>