<!DOCTYPE html>
<html lang="en">
<head>
  <title>The URL Cruncher</title>
</head>
<body style="font-family:sans-serif;padding:10px;background-color:darkgoldenrod">
  <h1 style="color:indigo;font-size:60px;font-family:sans-serif;;letter-spacing:-5px">The URL Cruncher</h1>
  <h3>Login to your account.</h3>
  <h5>You must be logged in to use The URL Cruncher.</h5>
  <form action="/login" method="POST" style="font-family:sans-serif;">
    <label for="login">Email:</label>
    <input id="login" type="email" name="email" placeholder="user@email.com">
    <br><br>
    <label for="login">Password:</label>
    <input id="login" type="password" name="password" placeholder="********">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <h3>Or <a href="/register">register</a> a new account.</h3>
</body>
</html>