<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Link Cruncher</title>
</head>
<body>
  <h2>Register</h2>
  <h3>Create a new account.</h3>
  <form action="/register" method="POST" style="font-family:sans-serif;">
    <label for="register">Email:</label>
    <input id="register" type="email" name="email" placeholder="user@email.com">
    <br><br>
    <label for="register">Password:</label>
    <input id="register" type="password" name="password" placeholder="********">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>