<!DOCTYPE html>
<html lang="en">
<head>
  <title>The URL Cruncher</title>
</head>
<body style="font-family:sans-serif;padding:10px">
  <h1 style="color:green;font-size:60px;font-family:sans-serif;">The URL Cruncher</h1>
  <h3>Register a new account.</h3>
  <h5>An account is required to use The URL Cruncher.</h5>
  <form action="/register" method="POST" style="font-family:sans-serif;">
    <label for="register">Email:</label>
    <input id="register" type="email" name="email" placeholder="user@email.com">
    <br><br>
    <label for="register">Password:</label>
    <input id="register" type="password" name="password" placeholder="********">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <h3>Or <a href="/login">login</a> to your account.</h3>
</body>
</html>