<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- Add your EJS code here -->
  <h1>Your shortened URLs</h1>
  <% for (var url in urls) { %>
    <h2><%= "Short: " + url + " (" + urls[url] + ") " %></h2>
  <% } %>
</body>
</html>