<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Link Cruncher</title>
</head>
<body>
  <% include ./partials/_header %>
  <h2>Crunch a link.</h2>
  <h3>Your crunched URLs</h3>
  <% for (var url in urls) { %>
    <ul>
      <li><%= "Crunch: " + url + " (" + urls[url] + ") " %></li>
    </ul>
  <% } %>
</body>
</html>