<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Link Cruncher</title>
</head>
<body>
  <% include ./partials/_header %>
  <h2>Crunch a link.</h2>
  <h3>Single crunched link: </h3>
  <p> <%= "This URL: " + longURLs[shortURL] + " has been crunched to: " + shortURL %> </p>
</body>
</html>