<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Link Cruncher</title>
</head>
<body>
  <% include ./partials/_header %>
  <h3>Short Url: <%= shortURL %></h3>
  <form action="/urls/<%= shortURL %>" method="POST">
    <input id="longURL" type="text" name="longURL" placeholder="<%= longURLs[shortURL] %>" style="width: 300px">
    <input type="submit" value="Update">
  </form>
</body>
</html>